:root {
    --color-highlight: #F02030;
}

/* ---------------- 공통 영역 ---------------- */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-width: 360px;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 360px;
    width: 100vw;
    height: 100vh;
    background: url(img/background_main_pc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/* ---------------- 헤더 영역 ---------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    color: var(--color-highlight);
    background-color: transparent;
    border: 1px solid var(--color-highlight);
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.25s;
}

.logo:hover{
    color: #ffffff;
    background-color: var(--color-highlight);
}

.nav-pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.nav-mo{
    display: none;
}

.nav-pc > .menu > img{
    width: auto;
    height: 14px;
}

.nav-pc > .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 28px;
    background-color: #00000008;
    margin-right: 8px;
    border-radius: 4px;
    transition: 0.25s;
}

.nav-pc > .menu:hover{
    background-color: #00000016;
}

.nav-pc > .menu:nth-last-of-type(1){
    margin-right: 0;
}

.nav-pc > .menu:nth-of-type(2) > img{
    width: auto;
    height: 16px;
}

.menu-btn-wrapper{
    display: none;
}

.menu-btn-wrapper > input[type="checkbox"]{
    visibility: hidden;
    display: none;
}

.menu-btn{
    width: 24px;
    height: 16px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.menu-top{
    top: 1px;
    height: 2px;
    width: 24px;
    background: #ffffff;
    border-radius: 2px;
    position: absolute;
    transition: 0.25s ease;
}

.menu-middle{
    top: 7px;
    height: 2px;
    width: 24px;
    background: #ffffff;
    border-radius: 2px;
    position: absolute;
    transition: 0.25s ease;
}

.menu-bottom{
    bottom: 1px;
    height: 2px;
    width: 24px;
    background: #ffffff;
    border-radius: 2px;
    position: absolute;
    transition: 0.25s ease;
}

.menu-btn-wrapper > input[type="checkbox"]:checked ~ .menu-btn > .menu-top{
    transform: rotate(-45deg);
    width: 24px;
    transform-origin: right;
    top: -1.5px;
}

.menu-btn-wrapper > input[type="checkbox"]:checked ~ .menu-btn > .menu-bottom{
    transform: rotate(45deg);
    width: 24px;
    transform-origin: right;
    bottom: -1.5px;
}

.menu-btn-wrapper > input[type="checkbox"]:checked ~ .menu-btn > .menu-middle{
    transform: translateX(20px);
    opacity: 0;
}

/* ---------------- 하단 내비게이션 영역 ---------------- */

.section-bottom{
    position: relative;
    max-width: 1800px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.nav-bottom{
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.nav-bottom > a{
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.nav-bottom-background{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 80px;
    background-color: var(--color-highlight);
    border-radius: 4px;
    z-index: -1;
}

.nav-bottom-contents{
    min-width: 320px;
    width: 728px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-bottom-contents > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-bottom-contents > div > img{
    width: 144px;
    height: 144px;
}

.nav-bottom-contents > div > div{
    font-family: 'Rubik', sans-serif;
    padding-bottom: 22px;
    margin-left: 8px;
    margin-right: 8px;
}

.nav-bottom-contents > div > div > p:nth-of-type(1){
    color: #ffffff99;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
}

.nav-bottom-contents > div > div > p:nth-of-type(2){
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.nav-bottom-contents > div > div > p:nth-of-type(3){
    display: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.nav-bottom-contents > img{
    width: auto;
    height: 16px;
    margin-bottom: 24px;
}


@media screen and (max-width: 768px) {

    /* ---------------- 공통 영역 ---------------- */

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 360px;
        width: 100vw;
        height: 100vh;
        background: url(img/background_main_mo.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        z-index: -1;
    }

    /* ---------------- 헤더 영역 ---------------- */

    .logo {
        color: #ffffff;
        background-color: transparent;
        border: 1px solid #ffffff;
    }
    
    .logo:hover{
        color: #ffffff;
        background-color: var(--color-highlight);
        border: 1px solid var(--color-highlight);
    }

    .nav-pc > .menu {
        background-color: #ffffff0f;
    }
    
    .nav-pc > .menu:hover{
        background-color: #ffffff40;
    }

    .nav-pc > .menu:nth-of-type(1) > img{
        content:url("img/about_wl.png");
    }

    .nav-pc > .menu:nth-of-type(2) > img{
        content:url("img/opensea_wl.png");
    }

    .nav-pc > .menu:nth-of-type(3) > img{
        content:url("img/discord_wl.png");
    }

    .nav-pc > .menu:nth-of-type(4) > img{
        content:url("img/twitter_wl.png");
    }

    .nav-pc > .menu:nth-of-type(5) > img{
        content:url("img/instagram_wl.png");
    }

    /* ---------------- 하단 내비게이션 영역 ---------------- */    

    .nav-bottom-contents{
        width: calc(100vw - 40px);
    }
}


@media screen and (max-width: 576px) {

    /* ---------------- 헤더 영역 ---------------- */

    header.active {
        background-color: var(--color-highlight);
    }

    .header-wrapper{
        flex-direction: column;
    }
    
    .header-wrapper > div{
        width: 100%;
        min-height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header.active .logo:hover{
        color: var(--color-highlight);
        background-color: #ffffff;
    }

    .menu-btn-wrapper{
        display: block;
    }

    .nav-pc{
        display: none;
    }
    
    .nav-mo{
        display: none;
    }

    .nav-mo.active{
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--color-highlight);
    }
    
    .nav-mo > .menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* ---------------- 하단 내비게이션 영역 ---------------- */

    .nav-bottom-background{
        height: 72px;
    }

    .nav-bottom-contents > div > img{
        width: 112px;
        height: 112px;
    }

    .nav-bottom-contents > div > div{
        padding-bottom: 18px;
    }

    .nav-bottom-contents > div > div > p:nth-of-type(2){
        display: none;
    }
    
    .nav-bottom-contents > div > div > p:nth-of-type(3){
        display: block;
    }

    .nav-bottom-contents > img{
        margin-bottom: 20px;
    }
}